/target/
/docs_internal/
*.epoch
*.lck
*.log

/conf/conf_local.properties
# excluimos los formatos generados a partir del Word (html y pdf)
/docs_src/jeplayer_manual.htm
/docs_src/jeplayer_manual.pdf
